.btn {
  background-color: rgb(206, 103, 124);
  border: 1px solid #171515;
  border-radius: 2px;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Courier New';
  height: 50px;
  width: 110px;
}

.btn:hover:not([disabled]) {
  opacity: 0.7;
  font-weight: bold;
  border-width: 2px;
}

.btn:disabled {
  background-color: rgb(187, 186, 186);
  opacity: 0.5;
  cursor: not-allowed;
}