.mainContainer {
    display: flex;
    justify-content: space-around;
    height: 8%;
    padding-bottom: 25px;
}

.secondaryContainer {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    gap: 1.5em;
}