.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    /* 12.5 = 100/8 */
    gap: 20px;
    padding-bottom: 25px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: 30%;
}